h1 {
    width: 100%;
    font-size: 50px;
    text-align: justify;
    padding: 40px;
    background-color: lightgray;
    color: darkorange;

}

.row {
    width: 90%;
    margin-left: 5%;
}

h5 {
    color: darkorange;
    
}